body{
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    color:  #777;
    background: #777;
    width:  960px;
    font-size: 18px;
}

#header{
    background: #ebebeb;
    height: 60px;
    margin-left:  100px;
    margin-right:  100px;
    width:  1050px;
}

#nav{   
    background: #ebebeb;
    height: 60px;
    margin-left:  100px;
    margin-right:  100px;
    width:  1050px;
}

#full{   
    background: #ebebeb;
    margin-bottom:  20px;
    padding:  20px;
    width:  495px;
    height:  300px;
    margin-left:  100px;
    margin-top:  10px;   
    }    

    article{   
    background: #777;
    color:  #ebebeb;
    margin-left:  10px;
    padding-top: 20px;
    width:475px;
    height:  250px;
    }

    #h1,h2,h3{
        color:  #777;
        background:  #ebebeb;
        
       

    }

.aside {
    background:  #ebebeb;
    margin-bottom:  20px;
    padding:  20px;
    margin-right:  20px;
    width:  225px;
    height:  300px;
    margin-top:  10px;
    float: right;
   
}
   





footer{
   background: #ebebeb;
   height: 60px;
   margin-left:  100px;
   margin-right:  100px;
   width:  1050px;
}
   
